@media only screen and (max-width: 480px) {
  html body {
    .main-content-container {
      margin:0 45px 0px 0px;
      overflow:hidden;
    }
    .glasses-container.swiper-container-h {
      z-index: 2;
      height:0px;
      overflow: visible;
      bottom: 165px;
      .swiper-wrapper {
        height:165px;
      }
    }
    /* Specify Swiper's Size: */
    .glasses-container, .swiper-slide {
      height:165px;
    }
  }
}