// Map Stylings
$blue: #0087CE;
$green: #92D300;
$orange: #FD7C08;
@import "foundation.min.scss";
@import "idangerous.swiper.scss";

@font-face {
  font-family: 'Belizio';
  src: url('http://cdn.felixandiris.com/skin/felix_and_iris/assets/fonts/BelizioRegular/dca0d9a7-c0ff-45ea-b75a-849746a5f273-3.woff');
}
@font-face {
  font-family: 'Belizio';
  font-style: italic;
  src: url('http://cdn.felixandiris.com/skin/felix_and_iris/assets/fonts/BelizioRegularItalic/5314dd76-2dc2-45a2-9521-fd652cddf61f-3.woff');
}

.left {
  float: left;
}
.clear {
  clear:both;
}
.row {
  max-width: none;
}

html body {
  font-family: 'Belizio';
  background: url(http://cdn.felixandiris.com/skin/felix_and_iris/images/layout/main-bg-repeater.jpg);
  margin:0;
  padding:0;
  border-top: 6px solid #FD7C08;

  header {
    height: 68px;
    position: absolute;
    top: 20px;
    background-color: $blue;
    position: relative;
    display: block;
    width:100%;
    z-index: 2;
    .header-logo {
      height: 68px;
      display: inline-block;
      background-color: $green;

      a {
        display: inline-block;
        padding: 0 0 0 50px;
        margin: 0;
      }
    }
  }

  .container {
    max-width:1280px;
    width:100%;
    background-color: #fff;
    box-shadow: 0 5px 14px #ccc;
    margin:0 auto;
  }

  #intro-text {
    article {
      margin: 60px 0 30px;
      padding: 0px 50px 30px;
      text-align: center;
      border-bottom: rgba(0, 0, 0, 0.05);
    }
  }
  .main-content-container {
    margin:0 75px;
    overflow:hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
  }
  .row {
    width:100%;
    position: relative;

    .fixed-map {
      position: fixed!important;
    }

    #map-canvas {
      display:inline-block;
      height: 500px;
      margin: 0;
      padding: 0;
    }

    #info {
      padding: 20px 10px;
      height: 500px;
      display: inline-block;
      position: relative;
      background-color: #fff;
      overflow-y: scroll;
      p {
        margin: 50px 20px auto 20px;
      }
    }
  }
  #glasses-container.swiper-container-v {
//    display:block;
  }
  #glasses-container.swiper-container-h {
    z-index: -1;
    height:0px;
    overflow: hidden;
    bottom:320px;
    .swiper-wrapper {
      height:244px;
    }
  }
  #glasses-container {
    background-color: #fff;
    text-align: center;
    max-height: 500px;
    overflow-y: scroll;
    -ms-overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    .swiper-wrapper {
      background-color: #fff;
    }
    .pair-container {
      background-color: #fff;
      h3 {
        margin: 25px auto 0px auto;
      }

      .pair-img-container {
        margin: 0 20px;
        padding: 25px 0px;
        border-bottom: 1px dashed #A2A49F;
      }
      img {
        width:70%;
        padding: 20px auto;
      }

      .pair-text {
        position: absolute;
        right: -100%;
        top: 60px;
        background-color: $orange;
        height: 190px;
        padding: 15px 30% 15px 15%;
        transition: right 0.75s ease;

        .arrow-left{
          position: absolute;
          top: 35%;
          width: 45px;
          padding: 10px;
          cursor: hand;
          color: white;
          font-size: 30px;
          background-color: lighten(#093347, 10%);
          z-index: 999999999;
          img {
            height:30px;
          }
        }
        .arrow-left {
          left:-40px;
          img {
            float: left;
          }
        }
//        .arrow-left:after {
//          content: "";
//          position: absolute;
//          display: block;
//          border-style: solid;
//          border-color: #093347 transparent transparent;
//          bottom: -65px;
//          left: 0;
//          border-width: 7px 0px 58px 45px;
//        }

      }
      .move-in {
        right: -15%;
      }
    }
    .pair-container:last-child {
      padding-bottom: 220px;
    }
  }
  footer {
    margin-top:30px;
    border-top: 1px solid rgba(0,0,0,0.05);
    padding: 30px 50px 20px 50px;
    text-align: center;
  }
}

@import "1280-Media";
@import "1020-Media";
@import "910-Media";
@import "768-Media";
@import "641-Media";
@import "600-Media";
@import "500-Media";
@import "414-Media";